*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

article{
    display: flex;
    flex-wrap: wrap;

}

img{
    width: auto;
    height: 250px;
    padding-left: 15px;
}

@media screen and (max-width: 700px) {
    article {
      flex-direction: column;
    }
  }